<ul>
  {% for node in items %}
    <li id="{{ node.id }}">
      <a href="{% if node.url is empty %}#{% else %}{{ node.url|raw }}{% endif %}">
        {{ node.text }}
      </a>
      {% if node.__children|length > 0 %}
      	{% include 'ArnmMenuBundle:Widgets\\Plain:renderMenuItems.html.twig' with {'items': node.__children} %}
      {% endif %}
    </li>
  {% endfor %}
</ul> 